@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can write your own styles here afterwards if needed */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #111;
  color: white;
}